@import "tailwindcss";

:root {
      --background: #ffffff;
      --foreground: #171717;
}

@theme inline {
      --font-podcast: var(--font-podcast);
      --font-open-sans: var(--font-open-sans);
}

body {
      font-family: var(--font-open-sans);
}

